<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Join the devbeginner.com community on Email!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="/favicon/favicon.png"/>
</head>
<body>
<div id="wrapper">
    <div class="main">
        <div class="header">
            <h1><strong>초보개발자모임</strong></h1>
            <h2>매주 월요일 오전, 한주의 소식을 전달드립니다.</h2>
            <h2>Email 구독을 원하시면 아래에 Email을 입력해주세요</h2>
        </div>
        <div class="content">
            <div class="information">
                <form method="POST" action="/subscribe" id="subscribe-form" class="form">
                    <input type="text" name="email" placeholder="Enter Your Email Address" id="email" class="field" />
                    <input type="submit" value="Subscribe" class="submit" />
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>