{{#partial "content" }}
    <div id="wrapper">
        <div class="main">
            <div class="header">
                <h1><strong>초보개발자모임</strong></h1>
                <h2>{{model.message}}</h2>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout/base}}