<title>초보개발자모임 주간소식</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<br>
안녕하세요.<br>
초보개발자모임입니다.<br>
<br>

<div>
    <div class="article">
        <span>이번주 정보</span>
    </div>
    <div class="recruit">
        <span>채용정보</span>
    </div>
</div>
