{{#block "header"}}
<!DOCTYPE HTML>
<html>
<head>
    <title>초보개발자모임</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/ionicons.min.css" rel="stylesheet">
    <link href="/css/blog.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97244289-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-97244289-2');
    </script>
</head>

<body>
    <header>
        <div class="container-fluid position-relative no-side-padding">

            <a href="#" class="logo"><img src="images/logo.png" alt="Logo Image"></a>

            <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

            <ul class="main-menu visible-on-click" id="main-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Features</a></li>
            </ul><!-- main-menu -->

            <div class="src-area">
                <form>
                    <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                    <input class="src-input" type="text" placeholder="Type of search">
                </form>
            </div>

        </div><!-- conatiner -->
    </header>

    <div class="slider"></div><!-- slider -->
{{/block}}

{{#block "content"}}
{{/block}}

{{#block "footer" }}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-section">

                        <a class="logo" href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/devbeginner.com/static/bona_logo.png" alt="Logo Image"></a>
                        <p class="copyright">Bona @ 2017. All rights reserved.</p>
                        <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        <ul class="icons">
                            <li><a href="https://www.facebook.com/devbeginner/"><i class="ion-social-facebook-outline"></i></a></li>
                            <li><a href="https://github.com/jojoldu/dev-beginner-group"><i class="ion-social-github"></i></a></li>
                            <li><a href="http://jojoldu.tistory.com/"><i class="ion-social-tumblr"></i></a></li>
                        </ul>

                    </div><!-- footer-section -->
                </div><!-- col-lg-4 col-md-6 -->

                <div class="col-lg-4 col-md-6">
                    <div class="footer-section">
                        <h4 class="title"><b>CATAGORIES</b></h4>
                        <ul>
                            <li><a href="#">CAREER</a></li>
                            <li><a href="#">SEMINAR</a></li>
                            <li><a href="#">THINK</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">BACKEND</a></li>
                            <li><a href="#">FRONTEND</a></li>
                            <li><a href="#">INFRA</a></li>
                        </ul>
                    </div><!-- footer-section -->
                </div><!-- col-lg-4 col-md-6 -->

                <div class="col-lg-4 col-md-6">
                    <div class="footer-section">

                        <h4 class="title"><b>SUBSCRIBE</b></h4>
                        <div class="input-area">
                            <form>
                                <input class="email-input" type="text" placeholder="Enter your email">
                                <button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
                            </form>
                        </div>
                    </div><!-- footer-section -->
                </div><!-- col-lg-4 col-md-6 -->
            </div><!-- row -->
        </div><!-- container -->
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>
{{/block}}