<!--
  Created by jojoldu@gmail.com on 2018. 2. 21.
  Blog : http://jojoldu.tistory.com
  Github : http://github.com/jojoldu
-->

{{#block "header"}}
    <!DOCTYPE HTML>
    <html>
    <head>
        <title>DevBeginner Admin</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <script src="/dist/js/vendor.bundle.js"></script>
{{/block}}

{{#block "content"}}
{{/block}}

{{#block "footer" }}
    </body>
    </html>
{{/block}}