<!--
  Created by jojoldu@gmail.com on 15/06/2018
  Blog : http://jojoldu.tistory.com
  Github : http://github.com/jojoldu
-->

{{#partial "content" }}
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" type="submit" href="/login">Login</a>
        </div>
    </div>
{{/partial}}

{{> layout/base}}