<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Join the devbeginner.com community on Email!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/dist/css/lib.css" />
    <link rel="stylesheet" href="/dist/fonts/glyphicons-halflings-regular.eot"  type="text/css"/>
    <link rel="stylesheet" href="/dist/fonts/glyphicons-halflings-regular.svg"  type="text/css"/>
    <link rel="stylesheet" href="/dist/fonts/glyphicons-halflings-regular.ttf"  type="text/css"/>
    <link rel="stylesheet" href="/dist/fonts/glyphicons-halflings-regular.woff"  type="text/css"/>
    <link rel="stylesheet" href="/dist/fonts/glyphicons-halflings-regular.woff2"  type="text/css"/>
</head>
<body>
<div id="row">
    <form class="form-inline">
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" id="subject" placeholder="X월 Y주차 뉴스레터"/>
        </div>
        <button type="submit" class="btn btn-default">저장</button>
        <button type="submit" class="btn btn-success">발송</button>
    </form>

</div>

<br/>
<div id="editSection"></div>

<script src="/dist/js/lib.js"></script>
<script>
    $('#editSection').tuiEditor({
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        height: 300,
        hooks: {
            'addImageBlobHook': function(blob, callback) {
                //이미지 블롭을 이용해 서버 연동 후 콜백실행
                //callback('이미지URL');
                var formData = new FormData();
                formData.append('data', blob);

                $.ajax({
                    type: 'POST',
                    url: '/upload-image',
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function(data) {
                    callback(data);
                });
            }
        }
    });

</script>
</body>
</html>