<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div marginwidth="0" marginheight="0" style="margin:0;padding:0;background-color:linen;height:100%!important;width:100%!important">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="border-collapse:collapse;margin:0;padding:0;background-color:#f2f2f2;height:100%!important;width:100%!important">
            <tbody><tr>
                <td align="center" valign="top" id="bodyCell" style="margin:0;padding:20px;border-top:0;height:100%!important;width:100%!important">

                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border-collapse:collapse;border:1px none #a1a2a5">
                        <tbody><tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader" style="border-collapse:collapse;min-width:100%;background-color:#ffffff;border-top:0;border-bottom:0">
                                    <tbody>
                                        <tr>
                                            <td valign="top" class="preheaderContainer" style="padding-top:9px">
                                                <table class="mcnTextBlock" style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody class="mcnTextBlockOuter">
                                                        <tr>
                                                            <td class="mcnTextBlockInner" style="padding-top:9px" valign="top">
                                                                <table style="max-width:100%;min-width:100%;border-collapse:collapse" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left" valign="top"></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="mcnCodeBlock" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                                                    <tbody class="mcnTextBlockOuter">
                                                        <tr>
                                                            <td class="mcnTextBlockInner" valign="top"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="border-collapse:collapse;min-width:100%;background-color:#ffffff;border-top:0;border-bottom:0">
                                    <tbody>
                                        <tr>
                                            <td valign="top" class="headerContainer">
                                                <table class="mcnTextBlock" style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="mcnTextBlockInner" style="padding-top:9px" valign="top">
                                                            <table style="max-width:100%;min-width:100%;border-collapse:collapse" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                <tbody>
                                                                <tr>
                                                                    <td class="mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left" valign="top">
                                                                        <img src="https://s3.ap-northeast-2.amazonaws.com/devbeginner.com/%E1%84%87%E1%85%A9%E1%84%85%E1%85%A1%E1%84%89%E1%85%A2%E1%86%A81_400*70.png" style="width:150px;height:30px;margin:0 0 0 20px;border:0;outline:none;text-decoration:none" width="150" align="none" height="30" class="CToWUd">
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="mcnDividerBlock" style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody class="mcnDividerBlockOuter">
                                                    <tr>
                                                        <td class="mcnDividerBlockInner" style="min-width:100%;padding:3px 18px 18px">
                                                            <table class="mcnDividerContent" style="min-width:100%;border-top:2px solid #eaeaea;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                <tbody><tr>
                                                                    <td>
                                                                        <span></span>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody" style="border-collapse:collapse;min-width:100%;background-color:#ffffff;border-top:1px none #cf3636;border-bottom:1px none">
                                    <tbody>
                                    <tr>
                                        <td valign="top" class="bodyContainer">
                                            <table class="mcnTextBlock" style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="mcnTextBlockInner" style="padding-top:9px" valign="top">
                                                            <table style="max-width:100%;min-width:100%;border-collapse:collapse" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                <tbody>
                                                                <tr>
                                                                    <td class="mcnTextContent" style="padding:0px 18px 9px;color:#000000;font-size:14px;font-weight:normal;line-height:200%;font-family:Helvetica;text-align:left" valign="top">
                                                                        <div style="margin:0 20px">&nbsp;<br>
                                                                            <!--<strong>-->
                                                                                <!--<a href="" style="font-size:20px;text-align:justify;word-wrap:break-word;color:#2d6594;font-weight:normal;text-decoration:none" target="_blank" >-->
                                                                                    <!--카뱅의 역습에도 토스가 계속 잘 나가는 이유!?-->
                                                                                    <!--[TITLE]-->
                                                                                <!--</a>-->
                                                                            <!--</strong>-->
                                                                            <!--<br>-->
                                                                            <!--<span style="font-size:15px">-->
                                                                                <!--<a href="" style="word-wrap:break-word;color:#2d6594;font-weight:normal;text-decoration:none" target="_blank" alt="k3" style="max-width:100%;width:100%;padding-bottom:0;display:inline;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none;padding:10px 0" border="0">-->
                                                                                    <!--오늘 토스에서 진행한 기자간담회에 다녀왔는데요. &nbsp; &nbsp; 잘 아시다시피, &nbsp; 2015년 간편송금 서비스로 출발한 토스는 사업 초기, 규제 이슈에 부딪혔지만 &nbsp; 이를 슬기롭게 잘 해결하고 뛰어난 기술력과&nbsp;마케팅 능력을 발휘하며 급성장하고...-->
                                                                                    <!--[CONTENT]-->
                                                                                <!--</a>-->
                                                                            <!--</span>-->
                                                                            <!--<p style="margin:1em 0;padding:0;color:#777d86;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">&nbsp;</p>-->
                                                                            <!--&nbsp;<br>-->

                                                                            {{{content}}}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</body>
</html>